<div class="dashboard-container">
    <aside class="sidebar" [class.closed]="isSidebarClosed">
      <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
      <h2>Ganadería Huamán</h2>
      <ul>
        <li><a routerLink="/dashboard/inicio"><mat-icon>home</mat-icon> Inicio</a></li>
        <li><a routerLink="/dashboard/usuario"><mat-icon>agriculture</mat-icon> Gestión de Usuario</a></li>
        <li><a routerLink="/dashboard/cliente"><mat-icon>attach_money</mat-icon> Gestión de Cliente</a></li>
        <li><a routerLink="/dashboard/proveedor"><mat-icon>local_shipping</mat-icon> Gestión de Proveedores</a></li>
        <li><a routerLink="/dashboard/establo"><mat-icon>bar_chart</mat-icon> Gestión de Establo</a></li>
        <li><a routerLink="/dashboard/corral"><mat-icon>settings</mat-icon> Gestión de Corral</a></li>
        <li><a routerLink="/dashboard/ganado-form"><mat-icon>home</mat-icon> Gestión de Ganado</a></li>
        <li><a routerLink="/dashboard/historial-clinico"><mat-icon>home</mat-icon> Historial Clínico</a></li>
        <li><a routerLink="/dashboard/alimento"><mat-icon>home</mat-icon> Alimentos</a></li>
        <li><a routerLink="/dashboard/registro-alimento"><mat-icon>home</mat-icon> Registro de Alimentos</a></li>
        <li><a routerLink="/dashboard/medicina"><mat-icon>home</mat-icon> Medicina</a></li>
        <li><a routerLink="/dashboard/registro-medicina"><mat-icon>home</mat-icon> Registro de Medicina</a></li>
        <li><a routerLink="/dashboard/venta"><mat-icon>attach_money</mat-icon> Ventas</a></li>
      </ul>
    </aside>
  
    <main class="content">
      <h1>Bienvenido al Sistema de Ganadería</h1>
      <router-outlet></router-outlet> <!-- Aquí se cargarán los componentes -->
    </main>
  </div>
  