<!-- Contenedor principal -->
<div class="container mt-3">
  <h2 class="text-center text-primary">Gestión de Usuarios</h2>

  <!-- Botones para abrir modal y búsqueda -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-primary btn-sm" (click)="abrirModal()">
      ➕ Registrar Usuario
    </button>
    <input
      type="text"
      class="form-control form-control-sm w-25"
      placeholder="🔍 Buscar usuario por correo..."
      #correoInput
    />
    <button
      class="btn btn-info btn-sm"
      (click)="buscarUsuarioPorCorreo(correoInput.value)"
    >
      Buscar
    </button>
  </div>

  <!-- Tabla de registros -->
  <div>
    <table class="table table-striped table-hover table-sm shadow-sm">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.direccion }}</td>
          <td>{{ usuario.idRol }}</td>
          <td>{{ usuario.estado }}</td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              (click)="editarUsuario(usuario)"
            >
              ✏️
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="borrarUsuario(usuario.id)"
            >
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- COMPONENTE DEL MODAL -->
<app-registro-usuariomodal
  [usuario]="usuarioSeleccionado"
  (usuarioGuardado)="cargarUsuarios()"
></app-registro-usuariomodal>
