<div class="container mt-3">
  <h2 class="text-center text-primary">Gestión de Usuarios</h2>

  <!-- Botón para abrir el modal y campo de búsqueda -->
  <div class="d-flex justify-content-between align-items-center mb-3">
      <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalRegistroUsuario">
          ➕ Registrar Usuario
      </button>
      <input type="text" class="form-control form-control-sm w-25" placeholder="🔍 Buscar usuario...">
  </div>

  <!-- Tabla de registros -->
  <div>
      <table class="table table-striped table-hover table-sm shadow-sm">
          <thead class="table-dark">
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Teléfono</th>
                  <th>Rol</th>
                  <th>Estado</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>Carlos López</td>
                  <td>carlosexample.com</td>
                  <td>555-6789</td>
                  <td>Cliente</td>
                  <td>Activo</td>
                  <td>
                      <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalRegistroUsuario">✏️</button>
                      <button type="button" class="btn btn-danger btn-sm">🗑️</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <app-registro-usuariomodal></app-registro-usuariomodal>
</div>
