<div class="container mt-3">
  <h2 class="text-center text-primary">Gestión de Proveedores</h2>

  <!-- Botón para abrir el modal -->
  <div class="text-end">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProveedor" onclick="showAlert()">
        Agregar Ganado
    </button>
</div>

  <!-- Tabla de Listado y CRUD -->
  <div>
      <table class="table table-striped table-hover table-sm shadow-sm">
          <thead class="table-dark">
              <tr>
                  <th>ID</th>
                  <th>RUC</th>
                  <th>Empresa</th>
                  <th>Representante</th>
                  <th>Teléfono</th>
                  <th>Correo</th>
                  <th>Estado</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>123456789</td>
                  <td>Empresa X</td>
                  <td>Juan Pérez</td>
                  <td>555-1234</td>
                  <td>correoexample.com</td>
                  <td>Activo</td>
                  <td>
                      <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalProveedor">Editar</button>
                      <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Incluir el componente del modal -->
  <app-proveedor-modal></app-proveedor-modal>
</div>
